html,
body {
  margin: 0;
  padding: 0;
}

.form-cont {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: #ffff;
  /* border: 2px solid red; */
}

.form-cont h4,
.form-cont h1{
    margin: 0;
}

.form-cont h1{
    font-weight: 400;
}

.form-cont h4{
    font-weight: 300;
}

#skipBtn{
    width: 144px;
    height: 38px;
    border: 1px solid #ffff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    color: #ffff;
    margin-top: 8px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #38b791;
    color: #ffff;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0000;
}

#welcome{
    text-align: center;
    
}

#welcome h3{
    font-weight: 300;
}

#welcome span{
    color: #38b791;
}

.submit{
    width: 144px;
    height: 38px;
    border: 1px solid #ffff;
    background-color: #38b791;
    border-radius: 40px;
    color: #ffff;
    margin-top: 8px;
}

.txtArea{
    background-color:#f4f8f7 ;
    border: none;
    height: 36px;
    width: 200px;
}

.txtArea::placeholder{
    color: rgb(197, 197, 197);
}
